:root {
    --alchemy-border: rgba(0,0,0,.1);
}
::selection {
  background: var(--primary);
  color: var(--secondary);
  text-shadow: none;
}

html, body {
  height: 100%;
}

blockquote {
  opacity: .7;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

/* ------------------------------------------------------------------------- */

body {
  hyphens: auto;
}

.header img {
  margin-bottom: 1rem;
}

.header .navbar-brand {
  font-size: 2.50rem;
}

.header ul {
  font-size: 1.25rem;
  font-weight: 300;
}


.highlight pre {
  border: 1px solid var(--alchemy-border);
  padding: 1rem;
}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content a {
  text-decoration: underline
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .header .title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }
}

.main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section, article {
  background-color: #ffffff;
}

section:nth-of-type(2) {
  /*background-color: #f7f7f7;*/
}

footer {
  /*background-color: #f7f7f7;*/
}

body {
  font-size: 1.25rem;
  background-color: #f7f7f7;
}

.project-description-section {
  background-color: #b4c7c8;
}
.project-description-section h2,
.project-description-section h3 {
  color: #4395EB;
}

.project-description-text {
  color: #4395EB;
}

.project-description-section a {
  color: #13997e;
}

.project-description-section a:hover {
  color: #0f7e68;
}

.contact-box {
  font-size: 1rem;
  color: #95a5a6;
}

.contact-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-box i {
  color: #000000 !important;
}

.contact-box a.nolink,
.contact-box a.nolink:hover,
.contact-box a.nolink:active
{
  color: #95a5a6;
  text-decoration: none;
}

ul.demolist {
  list-style-type: none;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

ul.demolist li {
  margin: 1rem 0 1rem 0;
}

ul.demolist i {
  margin: 0 1rem 0 1rem;
}

.rleap-roster .card {
  width: 20rem;
}

.rleap-roster h3 {
  margin-top: 2em;
}

.rleap-roster img {
  width: 20rem;
  height: 17rem;
  object-fit: cover;
}

.rleap-roster .card {
  border: none;
}

.main p {
  text-align: justify;
}

.main h2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.rlptext li {
  padding-bottom: 1rem;
  text-align: justify;
}

.rlptext h2 {
  border-bottom: 1px solid #dee2e6;
}
