
<div class="container py-4">
    <div class="row">
        <div class="contact-box col col-md-5 text-left mb-4 d-flex align-items-center">
            <ul class="mb-2">
                <!--
                <li>
                    <a class="nolink" href="mailto:{{ EMAIL }}"><i class="fas fa-envelope mx-3"></i>{{ EMAIL }}</a>
                </li>
                -->

                <li>
                    <a class="nolink" href="https://github.com/plg/"><i class="fab fa-github-alt mx-3"></i>github.com/plg</a>
                </li>
            </ul>

{#            <em>#}
{#                Site built with <a href="https://getpelican.com/">Pelican</a> + <a href="https://getbootstrap.com/">Bootstrap</a>.#}
{#            </em>#}
        </div>


        <div class="row col col-md-7 text-center align-items-center mb-4 no-gutters">
          <div class="col-sm-6 col-md-4 mb-3">
            <a href="https://www.uc3m.es/Home"><img class="img-fluid" src="{{ url('theme/images/logo-uc3m.svg') }}" width="160"></a>
          </div>
        </div>

    </div>
</div>
